{% extends "app.twig" %}

{% block title %} List Guestbook {% endblock %}
{% block appheader %}
{{ parent() }}
<style type="text/css">
    body {
        background-color: bisque;
    }
</style>
{% endblock %}

{% block content %}
<h1>Form Guestbook</h1>
<form method="post" id="guesbookForm">
    <input type="text" value="{{ user.name }}" readonly>
    <input type="text" name="message">

    <input type="hidden" name="user_id" value="{{ user.id }}">
    <button type="submit">Submit</button>

    || <a href="/">&laquo; kembali</a>
</form>
{% endblock %}

{% block appfooter %}
<script>
    $(document).ready(function (){
        $.ajaxSetup({
            headers: {
                "content-type": "application/json"
            }
        });

        const guesbookForm = $("#guesbookForm");
        guesbookForm.submit(async function (evt) {
            evt.preventDefault();
            try {
                const postPayload = {
                    user_id: $('input[name="user_id"]').val(),
                    message: $('input[name="message"]').val(),
                };

                console.log("postPayload: ", postPayload);
                const res = await $.post("/api/guestbook/save", JSON.stringify(postPayload));
                alert("Guestbook saved");
            } catch (error) {
                console.error(error);
                alert(error.responseJSON.message);
            }
        });
    });
</script>
{% endblock %}